<div>
    <h1 style="text-align:center;">Blake Bockrath</h1>
    <p style="text-align:center;">9603 Kelly Dr. Loveland, OH 45140 | 513 444 3456 | Bockrath.Blake@yahoo.com </p>
    <p style="text-align:center;">https://www.linkedin.com/in/blakebockrath/</p>
    <h2 style="text-align:center;">Career Objective</h2>
    <p style=" text-align:center; "> I am currently working for a computer science degree while devoting 30 – 40 hours per week to practices, meetings, training, and competitions. I am highly motivated with extensive experience in leadership positions and working with teams. I manage
        time efficiently and work well with others and under pressure. I am seeking a sales/bus dev internship where I can utilize my computer science knowledge and skills.</p>
</div>